* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #242A40;
    color: white;
}

header {
    padding: 1rem;
    background-color: #2E4159;
}

main {
    height: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0.5rem;
}

.row {
    flex-direction: row;
}

.align {
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.7rem 0;
    width: 90%;
    padding: 0.8rem 0;
    background-color: #CCDDE7;
    border: none;
    border-radius: 1rem;

}

h4 {
    text-align: justify;
    margin-bottom: 1rem;
}