* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #242A40;
    color: white;
}

header {
    padding: 1.2rem;
    background-color: #2E4159;
}

main {
    height: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0.5rem;
}

.row {
    flex-direction: row;
}

.align {
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.7rem 0;
    width: 90%;
    padding: 0.8rem 0;
    background-color: #CCDDE7;
    border: none;
    border-radius: 1rem;

}

button:hover {
    background-color: #c1d1da;
}

h4 {
    text-align: justify;
    margin-bottom: 1rem;
}

@media(min-width: 700px) {
    body {
        font-size: 1.5rem;
    }

    button {
        width: 70%;
        padding: 1rem;
        font-size: 1.3rem;
    }
}

@media(min-width: 1000px) {
    body {
        font-size: 1.7rem;
    }

    button {
        width: 60%;
        padding: 1.2rem;
        font-size: 1rem;
    }
}